.first-row-fourth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-block-fourth-1 {
  width: 55%;
  float: left;
  height: 50vh;
  background: #8d9e77;
  justify-content: center;
  align-items: center;
  display: flex;
}

.second_row-fourth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-fourth {
  margin: 0;
  color: white;
  font-weight: 400;
}

.this-is-text-fourth {
  margin: 0;
  color: white;
  font-weight: 400;
  margin-top: 30px;
}

.text-block-fourth-2 {
  float: left;
  width: 45%;
  height: 50vh;
  background: #8d9e77;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-inner-content-fourth {
  padding: 0px 50px 0px 50px;
  font-family: "Muli";
}
