.text-block-fourth-1 {
  width: 60%;
  float: left;
  height: 50vh;
  background: #559e70;
}

.title-fourth {
  margin: 0;
  color: white;
  font-weight: 400;
}

.this-is-text-fourth {
  margin: 0;
  color: white;
  font-weight: 400;
  margin-top: 30px;
}

.text-block-fourth-2 {
  float: left;
  width: 40%;
  height: 50vh;
  background: #559e70;
}

.text-inner-content-fourth {
  padding: 50px 50px 0px 50px;
}
