.first-row-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
}

.img-block-fourth3 {
  display: none;
}

.text-block-fourth-1 {
  width: 55%;
  float: left;
  height: 50vh;
  background: #8d9e77;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second_row-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
}

.title-fourth {
  margin: 0;
  color: white;
  font-weight: 400;
}

.this-is-text-fourth {
  margin: 0;
  color: white;
  font-weight: 400;
  margin-top: 30px;
}

.text-block-fourth-2 {
  float: left;
  width: 45%;
  height: 50vh;
  background: #8d9e77;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-inner-content-fourth {
  padding: 50px 50px 50px 50px;
  font-family: "Muli";
}

@media screen and (max-width: 1024px) {
  .first-row-fourth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 25vh;
  }
  .first-row-fourth .text-block-fourth-1 {
    width: 70%;
    float: left;
    height: 25vh;
    background: #8d9e77;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-row-fourth .img-block-fourth1 {
    min-height: 25vh !important;
    width: 30% !important;
  }
  .second_row-fourth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 25vh;
  }
  .second_row-fourth .img-block-fourth2 {
    min-height: 25vh !important;
    width: 30% !important;
    background-position: center;
  }
  .second_row-fourth .text-block-fourth-2 {
    float: left;
    width: 100%;
    height: 25vh;
    background: #8d9e77;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .this-is-text-fourth {
    font-size: larger !important;
  }
  .first-row-fourth .text-block-fourth-1 {
    width: 100%;
    float: left;
    height: 100%;
    background: #8d9e77;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-block-fourth1 {
    display: none;
  }
  .second_row-fourth {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second_row-fourth .img-block-fourth3 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100% !important;
    background-position: center;
  }
  .second_row-fourth .img-block-fourth2 {
    display: none !important;
  }
  .second_row-fourth .text-block-fourth-2 {
    float: left;
    width: 100%;
    height: 100%;
    background: #8d9e77;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  .text-inner-content-fourth {
    padding: 35px;
  }
  .text-block-fourth-2 {
    height: 75vh !important;
  }
  .text-block-fourth-1 {
    height: 75vh !important;
  }
}
/*# sourceMappingURL=fourth_page.css.map */