html {
  scroll-behavior: smooth;
}

.hidden {
  display: none!important;
}

.bars-icon {
  display: none;
}

.this-is-the-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.inner-content-header {
  display: flex;
  justify-content: space-between;
  background-color: white;

  .the-logo {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

    img {
      padding: 5px;
      vertical-align: middle;
    }
  }

  .the-list-header {
    display: flex;
    align-items: center;
  }
  .the-ul-list ul {
    font-family: "Roboto", sans-serif;
    padding: 0;
    display: flex;
    padding-right: 20px;
    /* text-decoration: none; */
    list-style: none;

    a {
      text-decoration: none;
    }

    .list-item {
      padding-right: 35px;
      font-family: "Muli";
      font-weight: 600;
      color: #3f3f3f;
    }
  }
}

.svg-inline--fa {
  font-size: large !important;
  color: #8d9e77;
}

@media screen and (max-width: 1024px) {
  .the-logo-inner-content {
    img {
      width: 60%;
    }
  }

  .inner-content-header .the-ul-list ul .list-item {
    padding-right: 20px;
    font-family: "Muli";
    font-weight: 600;
    color: #3f3f3f;
  }

  .icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .this-is-the-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: white;
    .inner-content-header {
      display: block;
      justify-content: space-between;
      background-color: white;
    }
    .the-logo {
      padding-left: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      float: left;
      img {
        padding: 5px;
        vertical-align: middle;
        max-width: 100px;
      }
    }
  }
  #root > div > div.this-is-the-header.header-container > div > svg {
    float: right;
    padding: 21px;
    display: block!important;
    font-size: x-large!important;
  }

  .inner-content-header .the-list-header {
    display: block;
  }

  .inner-content-header .the-ul-list ul {
    font-family: "Roboto", sans-serif;
    padding: 0;
    display: block;
    padding: 20px;

    list-style: none;

    margin: 0;
    float: left;
    width: 100%;
  }

  .inner-content-header .the-ul-list ul .list-item {
    padding-right: 20px;
    font-family: "Muli";
    font-weight: 600;
    color: #3f3f3f;
    padding-top: 16px;
  }
}
