.first-row-fifth {
  display: flex;
  justify-content: center;
  //  align-items: center;
  min-height: 70vh;
  align-items: center;
}

.text-block1-fifth {
  width: 55%;
  float: left;
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-1-fifth {
  color: black !important;
}

.text-1-fifth {
  color: black !important;
}

.title-fifth {
  margin: 0;
  color: white;
  font-weight: 400;
}

.this-is-text-fifth {
  margin: 0;
  color: white;
  font-weight: 400;
  margin-top: 30px;
}

.second_row-fifth {
  display: flex;
  justify-content: center;
  //  align-items: center;
  min-height: 70vh;
}

.text-block2-fifth {
  float: left;
  width: 45%;
  min-height: 90vh;
  background: #8d9e77;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-inner-content-fifth {
  padding: 50px 50px 50px 50px;
  font-family: "Muli";
}

.fifth-list {
  color: white;
}

.text-fifth-section {
  color: white;
}

@media screen and (max-width: 1024px) {
  .first-row-fifth {
    display: flex;
    justify-content: center;
    min-height: 100%;
    align-items: center;

    .text-block1-fifth {
      width: 70%;
      float: left;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .img-block-fifth1 {
      min-height: 50vh !important;
      width: 45%;
      background-position: center;
    }
  }

  .second_row-fifth {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    .img-block-fifth2 {
      display: none;
    }
    .text-block2-fifth {
      float: left;
      width: 100%;
      min-height: 50vh;
      background: #8d9e77;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

@media screen and (max-width: 767px) {
  .fifth-list {
    color: white;
    font-size: larger;
}
.text-fifth-section {
  font-size: larger!important;
}
  .this-is-text-fifth {
    font-size: larger!important;
  }
  .first-row-fifth .text-block1-fifth {
    width: 100%;
    float: left;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.img-block-fifth1 {
      display: none;
    }

     .second_row-fifth {
       flex-wrap: wrap;

       .img-block-fifth2 {
      width: 100%!important;
      display: flex!important;
      min-height: 50vh!important;
      background-position: center;
    }
     }
}

@media screen and (max-width: 350px) {
  .text-block1-fifth {
    height: 135vh!important;
  }
}
