.text-block-third {
  width: 50%;
  float: left;
  min-height: 40vh;

  display: flex;

  align-items: center;
}

.full-width-div {
  display: flex;
  min-height: 20vh;
  background-color: #8d9e77;
  justify-content: center;
  margin-top: 90px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.inner-text-block-content-third {
  padding: 0px 50px 0px 50px;
  font-family: "Muli";
}

.title-third {
  color: white;
  font-family: "Muli";
  font-weight: 400;
}

.right-kontakt {
  // margin-top: 90px;
  width: 50%;
  font-family: "Muli";
  display: flex;
  background-color: #8d9e77;
  .inner-text-kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 100px;
    .kontakterna {
      //  padding-left: 100px;
      color: white;
    }
  }
}

.flex-wrapper {
  display: flex;
  min-height: 60vh;
}

.contact-text {
  margin: 0;
}

.kontaktpersoner {
  margin-top: 50px;
}

.inner-content-full {
  padding: 80px;
  color: white;
}

.second-flex-wrapper {
  display: flex;
}

@media screen and (max-width: 600px) {
  .full-width-div {
    display: flex;
    min-height: 20vh;
    background-color: #8d9e77;
    justify-content: center;
    margin-top: 0;
    
  }

  .text-block-third {
    width: 100%;
    float: left;
    min-height: 40vh;
    display: flex;
    align-items: center;
    .inner-text-block-content-third {
      padding: 50px;
      font-family: "Muli";
    }
  }

  .right-kontakt {
    width: 100%;
    font-family: "Muli";
    display: flex;
    background-color: #8d9e77;
    
  }

  .right-img-block {
    display: none!important;
  }
  .left-img-block {
     display: none!important;
  }

  .right-kontakt .inner-text-kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 50px;
}

.omOss-list {
  margin-top: 20px;
}
}

@media screen and (max-width: 1024px) {
  .right-kontakt .inner-text-kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 50px;
}
}
