.text-block-third {
  width: 50%;
  float: left;
  min-height: 40vh;

  display: flex;

  align-items: center;
}

.full-width-div {
  display: flex;
  min-height: 20vh;
  background-color: #8d9e77;
  justify-content: center;
  margin-top: 90px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
  }
}

.inner-text-block-content-third {
  padding: 0px 50px 0px 50px;
  font-family: "Muli";
}

.title-third {
  color: white;
  font-family: "Muli";
  font-weight: 400;
}

.right-kontakt {
  // margin-top: 90px;
  width: 50%;
  font-family: "Muli";
  display: flex;
  background-color: #8d9e77;
  .inner-text-kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 100px;
    .kontakterna {
      //  padding-left: 100px;
      color: white;
    }
  }
}

.flex-wrapper {
  display: flex;
  min-height: 60vh;
}

.contact-text {
  margin: 0;
}

.kontaktpersoner {
  margin-top: 50px;
}

.inner-content-full {
  padding: 80px;
  color: white;
  text-align: center;
}

.second-flex-wrapper {
  display: flex;
}


.third_row {
  display: flex;
  .the-title {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #8d9e77;
    h1 {
      display: flex;
    color: white;
    font-family: 'Muli';
    }
  }

  .the-form {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #8d9e77;
    .fields {

      h2 {
        color: white;
    font-weight: 500;
    font-size: large;
    margin-bottom: 0;
      }
          font-family: 'Muli';
    
    width: 65%;
    padding: 40px;
    margin: 30px 0px 30px 0px;
    border-radius: 10px;
    background-color: #7a8869;

    .inputfield {
      width: 100%;
      border-radius: 10px;
      font-size: 20px;
    }
    }
  }
}

@media screen and (max-width: 767px) {

  .inner-content-full {
  padding: 80px;
  color: white;
  font-size: larger;
}
  .full-width-div {
    display: flex;
    min-height: 20vh;
    background-color: #8d9e77;
    justify-content: center;
    margin-top: 0;
    
  }

  .text-block-third {
    width: 100%;
    float: left;
    min-height: 40vh;
    display: flex;
    align-items: center;
    .inner-text-block-content-third {
      padding: 50px;
      font-family: "Muli";
      font-size: larger;
    }
  }

  .kontakterna {
    font-size: larger;
  }

  .right-kontakt {
    width: 100%;
    font-family: "Muli";
    display: flex;
    background-color: #8d9e77;
    
  }

  .right-img-block {
    display: none!important;
  }
  .left-img-block {
     display: none!important;
  }

  .right-kontakt .inner-text-kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 50px;
}

.omOss-list {
  margin-top: 20px;
}
}

@media screen and (max-width: 1024px) {
  .right-kontakt .inner-text-kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 50px;
}
}
