.Title {
  font-size: 200%;

  h1 {
    margin: 0;
    font-weight: 400;
    color: white;
  }
}
.little-text > p {
  color: white;
  font-size: x-large;
}

.the-buttons {
  margin-top: 40px;

   #the-kontakt-button {
    margin-right: 25px;
    font-size: initial;
    /* font-weight: 100; */
    font-family: sans-serif "Roboto";
    /* background: transparent; */
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
    border: none;
    width: 120px;
    height: 40px;
    font-family: "Muli";
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #f0f0f0 50%, #8d9e77 50%);
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s;
    text-decoration: none;
    color: black; 
    
}

#the-kontakt-button:hover {
      background-position: 0 -100%;
      color: white;
    }

  #the-bokning-button {
        /* margin-right: 25px; */
    font-size: initial;
    /* font-weight: 100; */
    font-family: sans-serif "Roboto";
    /* background: transparent; */
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
    border: none;
    width: 120px;
    height: 40px;
    font-family: "Muli";
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #f0f0f0 50%, #8d9e77 50%);
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s;
    text-decoration: none;
    color: black;
  }

  #the-bokning-button:hover {
    background-position: 0 -100%;
      color: white;
  } 
}

.content-box {
  width: 886px;
  text-align: center;
  height: 200px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -443px;
  margin-top: -100px;
}

.content-box-inner {
  font-family: "Muli";
}

@media screen and (max-width: 1024px) {
  .my-first-section {
    height: 50vh !important;
    .content-box {
      width: 630px;
      text-align: center;
      height: 200px;
      position: absolute;
      top: 60%;
      left: 50%;
      margin-left: -315px;
      margin-top: -100px;
      .Title {
        font-size: 145%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .my-first-section {
    height: 35em !important;
     #the-bokning-button {
       margin-right: 0;
     }

    .content-box {
      width: 345px;
    text-align: center;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -175px;
    margin-top: -100px;

      .Title {
        font-size: 100%;
      }
      .little-text > p {
        font-size: larger;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .my-first-section {
    height: 36em !important;
  }

  .content-box {
    width: 300px!important;
    text-align: center;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -150px!important;
    margin-top: -100px;
    .Title {
        font-size: 80%!important;
      }
  }
}
